<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Mes infos</title>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<%- include('../partials/candidatHeader', activePage=''); %>
<main class="w-100">
    <div class="container-center">
        <div class="w-100 background-color">
            <div class="user-info">
                <div class="user-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" fill="currentColor"
                         class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd"
                              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </div>
            </div>
        </div>
        <section class="mt-4 p-5">
            <form class="container ms-0 w-100" onsubmit="return onSubmit(event)" method="DELETE">
                <span data-user-id="<%= user.id %>"></span>
                <div class="d-flex gap-2 w-100">
                    <div>
                        <label for="nom" class="form-label">Nom</label>
                        <input name="nom" type="text" class="form-control" id="nom" value="<%= user.nom %>">
                    </div>
                    <div>
                        <label for="prenom" class="form-label">Prénom</label>
                        <input name="prenom" type="text" class="form-control" id="prenom" value="<%= user.prenom %>">
                    </div>
                </div>
                <div class="mt-3">
                    <label for="email" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" id="email" value="<%= user.email %>">
                </div>
                <div class="mt-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input name="password" type="password" class="form-control" id="password"
                           placeholder="******************">
                </div>
                <div class="d-flex justify-content-end gap-3">
                    <a href="/candidat" class="btn btn-secondary mt-3">
                        Retour
                    </a>
                    <input type="submit" class="btn btn-primary mt-3" value="Enregistrer">
                </div>
            </form>
        </section>
    </div>
</main>
<!-- Bootstrap 5 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
<!-- Toastify JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script type="text/javascript">
    // we want to update the user using PUT method, which is not supported by HTML forms.
    // we need to use JavaScript and an XMLHttpRequest to do so.
    const form = document.querySelector('form');
    const id = parseInt(form.querySelector('[data-user-id]').dataset.userId);

    // error may be undefined
    const error = "<%= locals.error ? error : "" %>";
    console.log(error)

    // on page load, show toast if success
    const urlParams = new URLSearchParams(window.location.search);
    const success = urlParams.get('success');
    if (success) {
        Toastify({
            text: "Compte modifié avec succès",
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: "green",
            stopOnFocus: true,
        }).showToast();
    }


    function onSubmit(e) {
        // prevent the form from submitting
        e.preventDefault();

        // use fetch and json
        const formData = new FormData(form);
        fetch("/recruteur/account/", {
            method: 'PUT',
            body: JSON.stringify(Object.fromEntries(formData)),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((r) => {
            if (r.status < 400) {
                window.location.href = window.location.href + '?success=true';
            }
        })
    }
</script>
</body>
</html>